.App {
  text-align: center;
}
body{
  background-color: #fde68a;
}

.App {
  text-align: center;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 40px auto;
}

.faint-btn{
  padding: 0.6rem 0.9rem;
  margin: 30px;
  background-color:#db2777;
  border-top-right-radius: 20px;
  border: 2px solid #a3e635;
}
.faint-btn:hover{
  color: #e2b696;
}
.music-list{
  padding: 1rem;
  margin: 1rem;
  background-color: #d6d3d1;
}
.heading{
  font-weight: 900;
  color: #0a0a0a;
  font-size: larger;
}
.heading:hover{
  color: #10b981;
}
