.App {
  text-align: center;
}
body{
  background-color: #fde68a;
}

.faint-btn{
  padding: 0.6rem 0.9rem;
  margin: 30px;
  background-color:#db2777;
  border-top-right-radius: 20px;
  border: 2px solid #a3e635;
}
.faint-btn:hover{
  color: #e2b696;
}
